{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel = "icon" href="{% static 'images/header_logo.jpg' %}" type= "image/x-icon">
    <title>Login</title>
  </head>
  <body>
    <!-- Container -->
    <div class="container" id="container">
      <!-- Row -->
      <div class="row">
        <!-- Sign Up -->
        <div class="col align-center flex-col sign-up">
          <div class="form-wrapper align-center">
            <form class="form sign-up" action="{% url 'register' %}" method="POST" id="registerform">
              {% csrf_token %}
              <div class="input-group">
                <i class="bx bxs-user"></i>
                <input type="text" name="username" placeholder="Username"  required onkeyup="this.setAttribute('value', this.value);" value=""  />
              </div>
              
              
              <div class="input-group">
                <i class="bx bx-mail-send"></i>
                <input type="email" placeholder="Email" name="email"  required onkeyup="this.setAttribute('value', this.value);" value=""  />
              </div>
                <div class="input-group">
                  <i class="bx bx-mobile-alt"></i>
                  <input type="tel" name="phone"  id="mobile" pattern="^\d{10}$" placeholder="Phone No" oninvalid="this.setCustomValidity('Phone number should contain 10 digits!')" oninput="this.setCustomValidity('')" required>
                            
            
              </div>
              <div class="input-group">
                <i class="bx bxs-lock-alt"></i>
                <input id="password" name="password" type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,12}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? '1.At least 1 Uppercase 2.At least 1 Lowercase 3.At least 1 Number 4.Min 8 chars and Max 12 chars' : ''); if(this.checkValidity()) form.password_two.pattern = this.value;" placeholder="Password" required>
                <i class='bx bx-hide' id="togglePassword"></i>
              </div>
              <div class="input-group">
                <i class="bx bxs-lock-alt"></i>
                <input id="password_two" name="password1" type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,12}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? '1.At least 1 Uppercase 2.At least 1 Lowercase 3.At least 1 Number 4.Min 8 chars and Max 12 chars' : '');" placeholder="Confirm Password" required>  
              </div>
              
              <!--{% if log %}
                <script>alert("email error");
                </script>
                {% endif %} -->
              <button class="pure-button pure-button-primary">Sign up</button>
              <p>
                <span>Already have an Account?</span>
                <b id="sign-in">Sign in here</b>
              </p>
            </form>
          </div>

          <div class="form-wrapper">
            <div class="social-list align-center sign-up">
              <div class="align-center facebook-bg">
                <i class="bx bxl-facebook"></i>
              </div>
              <div class="align-center google-bg">
                <i class="bx bxl-google"></i>
              </div>
              <div class="align-center twitter-bg">
                <i class="bx bxl-twitter"></i>
              </div>
              <div class="align-center insta-bg">
                <i class="bx bxl-instagram-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sign Up -->
        <!-- Sign In -->
           
        <div class="col align-center flex-col sign-in">
          <div class="form-wrapper align-center">
            <form class="form sign-in" action="{% url 'log_in' %}" method="POST">
              {% csrf_token %}
              
              <div class="input-group">
                <h2 class="title">Log in</h2>
                <div class="input-group">
                  <i class="bx bxs-user"></i>
                  <input type="text" name="username" placeholder="Username or Email" required onkeyup="this.setAttribute('value', this.value);" value="" />
                
                </div>
                <div class="input-group">
                  <i class="bx bxs-lock-alt"></i>
                  <input id="password1" type="password" name="password" placeholder="Password"required onkeyup="this.setAttribute('value', this.value);" value="" />
                  <i class='bx bx-hide' id="togglePassword1"></i>
                </div>
                <script>
                  const togglePassword=document.querySelector('#togglePassword');
                  const password=document.querySelector('#password');
                  const password_two=document.querySelector('#password_two');
                  togglePassword.addEventListener('click', function(e){
                  const type=password.getAttribute('type')==='password' ? 'text' : 'password';
                  password.setAttribute('type',type); 
                  const type1=password_two.getAttribute('type')==='password' ? 'text' : 'password';
                  password_two.setAttribute('type',type1);  
                  this.classList.toggle('bx-show');
  
                  });
                  const togglePassword1=document.querySelector('#togglePassword1');
                  const password1=document.querySelector('#password1');
                  togglePassword1.addEventListener('click', function(e){
                  const type=password1.getAttribute('type')==='password' ? 'text' : 'password';
                  password1.setAttribute('type',type);
                  this.classList.toggle('bx-show'); 
                  });
                </script>
                <style>
                  form #togglePassword{
                     margin-left: 350px;
                     cursor: pointer;
                  }
                  form #togglePassword1{
                     margin-left: 350px;
                     cursor: pointer;
                  }
                </style>
                {% if pass %}
                <p style="color:red;font-family:'Times New Roman', Times, serif;">Password is not Matching</p>
                {% endif %} 
                
                {% if user_val %}
                <p style="color:red;font-family:'Times New Roman', Times, serif;">Username is not Matching</p>
                {% endif %} 
                
                <button>Login</button>
                {% if messages %}
                {% for messages in messages %}
                <div >
                  <script>
                    alert('{{ messages }}');
                </script>
                </div>
                {% endfor %}
                {% endif %} 
                
               <b><a style="text-decoration:none;" href="/password_reset" >Forgot Password</a></b> 
              <p>
                <span> Don't have an Account? </span>
                <b id="sign-up">Sign up here</b>
              </p>
            </div>
          </div>

          <div class="form-wrapper">
            <div class="social-list align-center sign-in">
              <div class="align-center facebook-bg">
                <i class="bx bxl-facebook"></i>
              </div>
              <div class="align-center google-bg">
                <i class="bx bxl-google"></i>
              </div>
              <div class="align-center twitter-bg">
                <i class="bx bxl-twitter"></i>
              </div>
              <div class="align-center insta-bg">
                <i class="bx bxl-instagram-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sign In -->
      </div>
      <!-- End Row -->
      <!-- Content Section -->
      <div class="row content-row">
        <!-- Sign In Content -->
        <div class="col align-items flex-col">
          <div class="text sign-in">
            <h2>Welcome Back</h2>
            <p>
              𝘙𝘌𝘔𝘌𝘔𝘉𝘌𝘙 𝘛𝘏𝘌 𝘏𝘈𝘗𝘗𝘐𝘕𝘌𝘚𝘚 😍  <br>
              𝘐𝘴 𝘢 𝘸𝘢𝘺 𝘰𝘧 𝘛𝘳𝘢𝘷𝘦𝘭𝘭 𝘕𝘰𝘵 𝘢 𝘋𝘦𝘴𝘵𝘪𝘯𝘢𝘵𝘪𝘰𝘯.
            </p>
          </div>
          <div class="img sign-in">
            <img src="{% static 'images/log.svg' %}" alt="" />
          </div>
        </div>

        <!-- Sign Up Content -->
        <div class="col align-items flex-col">
          <div class="img sign-up">
            <img src="{% static 'images/register.svg' %}" alt="" />
          </div>
          <div class="text sign-up">
            <h2>Join with us</h2>
            <p>
              𝘙𝘌𝘔𝘌𝘔𝘉𝘌𝘙 𝘛𝘏𝘌 𝘏𝘈𝘗𝘗𝘐𝘕𝘌𝘚𝘚 😍  <br>
              𝘐𝘴 𝘢 𝘸𝘢𝘺 𝘰𝘧 𝘛𝘳𝘢𝘷𝘦𝘭𝘭 𝘕𝘰𝘵 𝘢 𝘋𝘦𝘴𝘵𝘪𝘯𝘢𝘵𝘪𝘰𝘯.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Container -->

    <!-- Script -->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
