<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel = "icon" href="../static/images/header_logo.jpg" type= "image/x-icon">

    <title>Receipt page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container bootdey">
<div class="row invoice row-printable">
    <div class="col-md-10">
        <!-- col-lg-12 start here -->
        <div class="panel panel-default plain" id="dash_0">
            <!-- Start .panel -->
            <div class="panel-body p30">
                <div class="row">
                    <!-- Start .row -->
                    <div class="col-lg-6">
                        <!-- col-lg-6 start here -->
                        <img  alt="logo" height="100" width="200" draggable="false" src="static/images/roadwayexpress.png">
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-6"> 
                        <!-- col-lg-6 start here -->
                        <div class="invoice-from">
                            <ul class="list-unstyled text-right">
                                <li>Anagalli Rd, </li>
                                <li>beside Mookambika Factory,</li>
                                <li> Kundapura,</li>
                                <li> Karnataka 576201</li>
                            </ul>
                        </div>
                    </div>
                    <!-- col-lg-6 end here -->
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="invoice-details mt25">
                            <div class="well">
                                <ul class="list-unstyled mb0">
                                    <li><strong>PaymentID :{{ ORDERID }} </strong> </li>
                                    <li><strong>Invoice Date: {{ date }}  </strong> </li>
                                    <li><strong>Pass ID:{{usr.pass_id}}</strong> </li>
                                    <li><strong>Category:{{category}}</strong> </li>
                                    <li><strong>Status:<img  alt="logo" height="15" width="35" draggable="false" src="static/images/paid.jpg">
                                    </strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="invoice-to mt25">
                            <ul class="list-unstyled">
                                <li><strong>Invoiced To : Mr/Mrs.{{usr.username}}</strong></li>
                                <li>Email: {{usr.email}}</li>
                                <li>Phone: {{usr.phone}}</li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                        <div class="invoice-items">
                            <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="per70 text-center">Description</th>
                                            <th class="per5 text-center">Price</th>
                                            <th class="per25 text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td>Pass Price</td>
                                            <td class="text-center">{{amt}}</td>
                                            <td class="text-center">{{amt}}</td>
                                        </tr>
                                        <tr>
                                            <td>Processing Fee</td>
                                            <td class="text-center">200</td>
                                            <td class="text-center">200</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                       <tr>
                                            <th colspan="2" class="text-right">Grand Total</th>
                                            <th class="text-center">{{amount}}</th>
                                        </tr>
                                    
                                </table>
                            </div>
                        </div>
                        
                    </div>
                    <!-- col-lg-12 end here -->
                </div>
                <!-- End .row -->
            </div>
        </div>
        <!-- End .panel -->
    </div>
    <!-- col-lg-12 end here -->
</div>
</div>

<style type="text/css">
body{
    margin-top:10px;
    background:#eee;    
}
</style>

<script type="text/javascript">
    
    var today = new Date();
    var n = today.toDateString().replace(/^\S+\s/,'');
    document.getElementById('time').innerHTML=n;
                     
</script>
</body>
</html>