{% extends "header.html" %}

{% block content %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--Password Reset Complete-->
  <div class="login">
    <div class="container p-4">
      <span class="fa fa-smile-o fa-4x"></span>
	    <h2 class="font-weight-bold mt-3">Password reset complete  </h2>
      
		<hr>
   
        <p>Your password has been set. You may go ahead and log in now.</p>                 
        <a href="/loged_in" class="btn btn-primary" style="margin-bottom: 50px;">Log in</a>
    </div>
    <style>
      body {
font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
color: #404040;
background: #9913ce;
}

.login {
  position: relative;
  margin: 200px auto;
  padding: 20px 20px 20px;
  width: 510px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login p {
  margin: 20px 0 0;
}
.btn-primary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 14px;
    height:auto;
    width:auto;
    margin-top: 20px;
   
}
span.fa {
				position: absolute;
				top: 10%;
				right: 240px;
				transform: translateY(-50%);
			}

@media  (max-width:700px){
		.login{
					width:360px;
			}
			span.fa{
					right: 150px;
			}
}
</style>

{% endblock %}