{% extends "header.html" %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
  <div class="login">
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p><b>Please enter your new password.</b></p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}    
			<span class="fa fa-lock fa-2x" id="span1"></span>   
			<span class="fa fa-lock fa-2x" id="span2"></span>                
             
            <button class="btn btn-primary" type="submit" >Reset password</button>
        </form>
    </div>
	
    <style>
            body {
			font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
			color: #404040;
			background: #9913ce;
			}
			
			.login {
				position: relative;
				margin: 200px auto;
				padding: 20px 20px 20px;
				width: 510px;
				background: white;
				border-radius: 3px;
				-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
				box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
			}
			.login:before {
				content: '';
				position: absolute;
				top: -8px;
				right: -8px;
				bottom: -8px;
				left: -8px;
				z-index: -1;
				background: rgba(0, 0, 0, 0.08);
				border-radius: 4px;
			}
			.login p {
				margin: 20px 0 0;
			}
			.btn-primary {
					background-color: #4CAF50; /* Green */
					border: none;
					color: white;
					padding: 15px 32px;
					text-align: center;
					text-decoration: none;
					display: inline-block;
					font-size: 16px;
			}
			input[type=password] {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				box-sizing: border-box;
			}
			#span1 {
				position: absolute;
				top: 45%;
				right: 75px;
				transform: translateY(-60%);
			}
			#span2{
				position: absolute;
				top: 75%;
				right: 75px;
				transform: translateY(-60%);
			}
			
			@media  (max-width:700px){
				.login{
					width:360px;
				}
				#span1{
					top: 275px;
				}
				#span2{
					top: 535px;
				}
			}
			

			

	  </style>
    
        

{% endblock %}