{% extends 'header.html' %}


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="login">
		<div class="container p-5" >
			<h2 class="font-weight-bold mt-3">Reset Password</h2>
			<hr>
			
			
			<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
			<form class="loginbox" autocomplete="off" method="POST">
				{% csrf_token %}
				{{ password_reset_form|crispy }}  
				<span class="fa fa-envelope fa-2x"></span>                  
				<button class="btn btn-primary" name="commit" type="submit">Send email</button>
			</form>
		</div> 
	</div>

	  <style>
		  body {
			font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
			color: #404040;
			background: #9913ce;
			}
			input[type=email] {
				width: 100%;
				padding: 12px 20px;
				margin: 8px 0;
				box-sizing: border-box;
			}
			.login {
				position: relative;
				margin: 200px auto;
				padding: 20px 20px 20px;
				width: 510px;
				background: white;
				border-radius: 3px;
				-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
				box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
			}
			.login:before {
				content: '';
				position: absolute;
				top: -8px;
				right: -8px;
				bottom: -8px;
				left: -8px;
				z-index: -1;
				background: rgba(0, 0, 0, 0.08);
				border-radius: 4px;
			}
			.login p {
				margin: 20px 0 0;
			}
			.btn-primary {
					background-color: #4CAF50; /* Green */
					border: none;
					color: white;
					padding: 15px 32px;
					text-align: center;
					text-decoration: none;
					display: inline-block;
					font-size: 16px;
			}
			span.fa {
				position: absolute;
				top: 62%;
				right: 75px;
				transform: translateY(-50%);
			}
			@media (max-width: 700px) {
				.login {
					width: 350px;
				}
				span.fa {
					right: 75px;
					top: 330px;
				}
			}
	  </style>
{% endblock %}